name: Main workflow

on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
  schedule:
    - cron: "0 0 * * 5"

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: install asdf-vm
        run: git clone https://github.com/asdf-vm/asdf.git $HOME/asdf

      - name: install gosec and run test
        run: . $HOME/asdf/asdf.sh
          asdf plugin add gosec $GITHUB_WORKSPACE
          asdf list all gosec
          asdf install gosec latest
          vegeta -version
